/* CSS Reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*Akhir CSS Reset*/
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fafbff;
}

.wrapper {
  width: 1100px;
  margin: auto;
  position: relative;
}

.logo a {
  font-size: 40px;
  font-weight: 790;
  float: left;
  font-family: sans-serif;
  color: #778beb;
}

.menu {
  float: right;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px; /*
  position: sticky;
  position: -webkit-sticky;*/
  position: fixed;
  top: 0;
  background: #f5f6fa;
  z-index: 1;

  box-shadow: 0px 5px 15px #00000019;
}

nav ul {
  list-style-type: none;
  margin: 0;
  margin: 0px;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: #778beb;
  font-weight: bold;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  color: #ffd800;
}

* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

section {
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}

.kolom {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 790;
  margin-bottom: 20px;
  color: #778beb;
  width: 100%;
  line-height: 50px;
}
#home {
  padding: 50px 0px;
}

a.tbl-red {
  background: #92acef;
  letter-spacing: 1px;
  border-radius: 30px;
  margin-top: 20px;
  padding: 15px 30px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.4s;
}

a.tbl-red:hover {
  background: #192a56;
  text-decoration: none;
}

p {
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
}
#home img {
  margin-top: 130px;
  max-width: 42%;
  display: block;
  max-height: 383px;
}
#home .text-home {
  margin-right: 200px;
  margin: 80px 0;
  position: relative;
}
#home .text-home .bubble {
  position: absolute;
  top: 30px;
  left: -100px;
  bottom: 0px;
  z-index: -100;
  width: 522px;
  height: 522px;
  content: '';
  border-radius: 50%;
  background-color: rgb(198, 198, 198);
  background: linear-gradient(36deg, rgba(233, 239, 255, 1) 20%, rgba(255, 255, 255, 1) 58%, rgba(255, 255, 255, 1) 99%);
}
.text-home h3,
h1,
p {
  margin-bottom: 20px;
  width: 100%;
}
.text-home h3 {
  font-size: 20px;
  color: #618bf9;
  letter-spacing: 2px;
  font-weight: 500;
  max-width: 600px;
}
.text-home h1 {
  font-size: 70px;
  font-weight: 700;
  color: #031d5b;
  max-width: 810px;
  max-height: 288px;
}
.text-home h2 {
  color: #031d5b;
}
.text-home p {
  max-width: 410px;
  line-height: 48px;
  color: #647397;
  font-weight: 450;
  max-width: 600px;
}
.text-home span {
  color: #618bf9;
}

#service {
  display: inline-block;
  text-align: center;
  padding-top: 100px;
}
#service h1 {
  font-size: 60px;
  font-weight: 800;
  color: #031d5b;
  padding-bottom: 70px;
}
.service-content {
  padding: 30px 15px;
}
.margin-center {
  margin-left: 4.6%;
  margin-right: 4.6%;
}
.service-wrapper {
  display: block;
  float: left;
  max-height: 310px;
  max-width: 30%;
  width: 30%;
  text-align: center;
  background-color: #fafbff;
  border: 0.3px solid #eaeef7;
  border-radius: 20px;
  transition: all 0.4s;
}
.service-wrapper:hover {
  background-color: white;
  box-shadow: 0 0 50px rgba(0 0 0 / 0.05);
}
.service-wrapper img {
  width: 40px;
  background-color: #e9eeff;
  padding: 20px 20px;
  border-radius: 20px;
}
.service-wrapper h3 {
  font-weight: 500;
  margin-top: 20px;
  color: #031d5b;
  font-size: 20px;
}
.service-wrapper p {
  color: #647397;
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 30px;
}
.service-logo {
  background-color: #e9eeff;
  display: inline-block;
  position: relative;
  width: 40%;
  border-radius: 20px;
}

/*  */
#team {
  padding-top: 100px;
  display: inline-block;
}
#team h1 {
  font-size: 60px;
  font-weight: 800;
  color: #031d5b;
  letter-spacing: 5px;
}
#team div {
  font-weight: 500;
  margin-top: 20px;
  color: #031d5b;
  font-size: 20px;
  text-align: center;
}
.team-wrapper-top,
.team-wrapper-bottom {
  display: block;
  float: left;
}
.team-wrapper-top img {
  width: 200px;
  padding: 20px 83px;
  border-radius: 50%;
}
.team-wrapper-bottom img {
  width: 200px;
  padding: 20px 174px;
  margin-top: 30px;
  border-radius: 50%;
}
.team-wrapper-top h3,
.team-wrapper-bottom h3 {
  font-weight: 500;
  margin-top: 20px;
  color: #031d5b;
  font-size: 20px;
}
.team-wrapper-top p,
.team-wrapper-bottom p {
  color: #647397;
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 30px;
}
.fa {
  color: #647397;
  letter-spacing: 7px;
}

/*  */

.contact-wrapper {
  background-image: url('assets/BG-9.jpg');
  background-size: cover;
  margin-top: 30px;
  padding-top: 100px;
  padding-bottom: 20px;
  min-height: 400px;
}

.contact {
  width: 86%;
  margin: 0 auto;
  padding-bottom: 150px;
  border-bottom: 3px solid #ffd800;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.ctc-left {
  width: 50%;
  min-height: 350px;
}

.ctc-right {
  width: 50%;
  min-height: 350px;
}

.ctc-input {
  margin: 20px;
}

.ctc-input input,
.ctc-input textarea {
  width: 90%;
  border-radius: 20px;
  padding: 10px;
  border: 0px;
}

.ctc-input textarea {
  resize: none;
}

.ctc-input p {
  margin-bottom: 5px;
  color: white;
  letter-spacing: 0.5px;
}

input[type='submit'] {
  border-radius: 20px;
  background-color: #ffd800;
  margin: 0px 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  font-weight: bold;
  border: none;
  letter-spacing: 1px;
  transition: all 0.4s;
}

input[type='submit']:hover {
  cursor: pointer;
  color: #ffd800;
  background-color: white;
}

.ctc-right span {
  margin: 30px 10px 20px 10px;
  color: #ffd800;
  font-size: 50px;
}

.ctc-icon {
  margin-top: 20px;
  width: 100%;
  padding: auto;
  text-align: center;
}

.ctc-right h3 {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  color: #ffd800;
  margin-bottom: 30px;
}

.ctc-right p {
  font-style: italic;
  margin: 10px 20px;
  color: white;
  text-align: center;

  letter-spacing: 0.5px;
}

footer {
  text-align: center;
  color: white;
  margin-top: 20px;
  letter-spacing: 0.5px;
}

.active.slideRight {
  animation: slideRight 2s forwards;
}
.active.slideLeft {
  animation: slideLeft 2s forwards;
}
.active.fadeIn {
  animation: fadeIn 4s forwards;
}
@keyframes slideLeft {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 990px) {
  .wrapper {
    width: 90%;
  }

  .logo a {
    display: block;
    width: 100%;
    text-align: center;
  }

  nav .menu {
    width: 100%;
    margin: 0;
  }

  nav .menu ul {
    text-align: center;
    margin: auto;
    line-height: 60px;
  }

  nav .menu ul li {
    display: inline-block;
    float: none;
  }

  section {
    display: block;
  }
  #home {
    margin-top: 150px;
  }
  #home img {
    max-width: 100%;
    max-height: 100%;
    margin-top: 70px;
    width: 100%;
    display: block;
  }

  #home .text-home {
    margin: 0px 0px;
    position: relative;
    text-align: left;
  }

  .text-home h1,
  .wrapper p {
    max-width: fit-content;
  }

  .text-home h1 {
    font-size: 35px;
  }

  #home .text-home .bubble {
    height: 0%;
    width: 0%;
  }

  #service h1 {
    font-size: 30px;
  }
  .service-wrapper {
    max-width: 100%;
    max-height: 100%;
    position: none;
    float: none;
    display: block;
    box-sizing: border-box;
    width: 90%;
    display: inline-block;
  }

  .margin-center {
    margin: none;
  }

  #team p {
    margin: 0 auto;
  }
  .team-wrapper-top,
  .team-wrapper-bottom {
    display: inline-block;
    text-align: center;
    width: 100%;
  }
  .team-wrapper-top p,
  .team-wrapper-bottom p {
    margin: 0 auto;
  }
  .contact {
    width: 95%;
    display: block;
  }

  .ctc-left {
    width: 100%;
    min-height: 350px;
  }

  .ctc-right {
    width: 100%;
    min-height: 350px;
  }

  .ctc-right span {
    font-size: 40px;
  }

  .ctc-right h3 {
    font-size: 24px;
  }

  footer p {
    text-align: center;
  }
}
