
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 40px;
    font-weight: 790;
    float: left;
    font-family: sans-serif;
    color: #778beb;
}

.menu {
    float: right;

}


nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
    background:#f5f6fa;
    z-index: 1;

}

nav ul {
    list-style-type: none;
    margin: 0;
    margin: 0px ;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: #778beb;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    opacity: 0.7;
}

* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}


section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family:  'Open Sans',sans-serif;
}

h2 {
    font-family: sans-serif;
     font-size: 40px;
    font-weight: 790;
    margin-bottom: 20px;
    color: #778beb;
    width: 100%;
    line-height: 50px;
}


a.tbl-red {
    background: #e84118;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-red:hover {
    background: #192a56;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}


@media screen and (max-width: 990px) {
    .wrapper {
        width: 90%;
    }

    .logo a {
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    

}