
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
    background-color: #fafbff;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 40px;
    font-weight: 790;
    float: left;
    font-family: sans-serif;
    color: #778beb;
}

.menu {
    float: right;
}


nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: fixed;
    position: -webkit-sticky; 
    top: 0;
    background:#f5f6fa;
    z-index: 1;

}

nav ul {
    list-style-type: none;
    margin: 0;
    margin: 0px ;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: #778beb;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    opacity: 0.7;
}

* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}


section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.content {
    width: 1100px;
    margin: auto;
    position: relative;
    padding-top: 70px;
  }

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family:  'Open Sans',sans-serif;
}

h2 {
    font-family: sans-serif;
     font-size: 40px;
    font-weight: 790;
    margin-bottom: 20px;
    color: #778beb;
    width: 100%;
    line-height: 50px;
}

#home{
    padding: 50px 0px;
}

a.tbl-red {
    background: #92acef;
    letter-spacing: 1px;
    border-radius: 30px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
  }

a.tbl-red:hover {
    background: #192a56;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.bubble {
    position: absolute;
    top: 0px;
    left: -100px;
    bottom: 0px;
    z-index: -50;
    width: 90%;
    content: '';
    border-radius: 50%;
    background-color: rgb(198, 198, 198);
    background: linear-gradient(40deg, rgb(231, 234, 253) 0%, rgb(255, 255, 255) 35%, #ffffff 100%);
  }
  #home img {
    width: 45%;
    display: block;
  }
  
  #home .text-home {
    position: relative;
  }
  
  .text-home h3,
  h1,
  p {
    margin-bottom: 20px;
    width: 100%;
  }
  .text-home h3 {
    color: #618bf9;
    letter-spacing: 2px;
    font-weight: 800;
    max-width: 600px;
  }
  .text-home h1 {
    font-size: 40px;
    color: #031d5b;
    max-width: 600px;
  }
  .text-home p{
    max-width: 600px;
  }
  .text-home span{
    color: #618bf9;
  }

@media screen and (max-width: 990px) {
    .wrapper {
        width: 90%;
    }

    .logo a {
        font-size: 30px;
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    .content {
        width: 90%;
        padding-top: 200px;
      }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    #home{
        padding: 0px 0px;
      }
    
      #home img {
        margin-top: 70px;
        width: 100%;
        display: block;
      }
    
      #home .text-home {
        margin: 0px 0px;
        position: relative;
        text-align: center;
      }
    
      .text-home h1,p {
        max-width: fit-content;
      }
    
      .text-home h1{
        font-size: 30px;
      }
    
      .bubble{
        height: 0%;
        width: 0%;
      }

}